<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places remember</title>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
{% if user.is_authenticated %}
<img id="profile_img">
<script type="text/javascript">
    $.getJSON('https://api.vk.com/method/photos.get?album_id=profile&owner_id={{ owner_id_vk }}&v=5.131&access_token={{ vk_access_token }}',
    function(profile_pic) {
    var profile_pic_items = profile_pic.response.items[profile_pic.response.items.length - 1]
    profile_pic = JSON.stringify(profile_pic_items.sizes[profile_pic_items.sizes.length - 1].url)
    document.getElementById('profile_img').src = profile_pic.slice(1, -1);
    });
</script>
<a>{{ user.first_name }}</a>
<a href="logout/">Logout</a>
{% else %}
<a href="login/vk-oauth2">Sign in with VKontakte</a>
{% endif %}
</body>
</html>