<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places remember</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<style>
#map { position: absolute; top: 0; bottom: 0; width: 10%; height: 10% }
</style>
<body>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css">
{% if user.is_authenticated %}
    <img id="profile_img" src="">
    <script type="text/javascript">
        $.getJSON('https://api.vk.com/method/photos.get?album_id=profile&owner_id={{ owner_id_vk }}&v=5.131&access_token={{ vk_access_token }}',
        function(profile_pic) {
        var profile_pic_items = profile_pic.response.items[profile_pic.response.items.length - 1]
        profile_pic = JSON.stringify(profile_pic_items.sizes[profile_pic_items.sizes.length - 1].url)
        document.getElementById('profile_img').src = profile_pic.slice(1, -1);
        });
    </script>
    <p>{{ user.first_name }}</p>
    {% if memories %}
        <p>
            <a href='addmemory/'>Create a new memory</a>
        </p>
            <form method="post" action="">
        {% csrf_token %}
        <ul>
            <div id="map"></div>
            <script>
                mapboxgl.accessToken = '{{ mapbox_key }}';
                if (!mapboxgl.supported()) {
                    alert('Your browser does not support Mapbox GL');
                } else {
                    const map = new mapboxgl.Map({
                        container: 'map',
                        style: 'mapbox://styles/mapbox/streets-v11',
                        center: [{{ memory.point_lng }}, {{ memory.point_lat }}],
                        zoom: 13,
                        interactive: false
                    });
                }
            </script>
            <p>Name: {{ memory.name }}</p>
            <p>Comment: {{ memory.comment }}</p>
        </ul>
        <input name='{{ memory.id }}' type="submit" value="Delete">
        </form>
        {% endfor %}
    {% else %}
        <p>
            <a href="addmemory/">Create a new memory</a>
        </p>
    {% endif %}
    <a href="logout/">Logout</a>
    {% else %}
<a href="login/vk-oauth2">Sign in with VKontakte</a>
{% endif %}
</body>
</html>