<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Places remember</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</head>
<body>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.css"
      type="text/css">
{% if user.is_authenticated %}
    <img id="profile_img" src="">
    <script type="text/javascript">
        $.getJSON('https://api.vk.com/method/photos.get?album_id=profile&owner_id={{ owner_id_vk }}&v=5.131&access_token={{ vk_access_token }}',
        function(profile_pic) {
        var profile_pic_items = profile_pic.response.items[profile_pic.response.items.length - 1]
        profile_pic = JSON.stringify(profile_pic_items.sizes[profile_pic_items.sizes.length - 1].url)
        document.getElementById('profile_img').src = profile_pic.slice(1, -1);
        });
    </script>
    <p>{{ user.first_name }}</p>
    {% if memories %}
        <p>
            <a href='addmemory/'>Create a new memory</a>
        </p>
        <div class="album py-5">
            <div class="container">
                <div class="row infinite-container">
                    {% for memory in memories %}
                        <div class="col-md-6 infinite-item">
                            <div class="card mb-4 shadow-sm">
                                <div class="card-body">
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="card-map">
                                            <div id="map{{ memory.id }}"></div>
                                            <style>
                                                #map{{ memory.id }} {
                                                    display: inline-block;
                                                    width: 500px;
                                                    height: 500px;
                                                    background-color: #ffc;
                                                    margin: 50px 0px;}
                                                #marker {
                                                    background: rgba(0, 0, 200, 0.8);
                                                    background-size: cover;
                                                    width: 15px;
                                                    height: 15px;
                                                    border-radius: 50%;
                                                    cursor: pointer;
                                                    }
                                            </style>
                                            <script>
                                                mapboxgl.accessToken = '{{ mapbox_key }}';
                                                if (!mapboxgl.supported()) {
                                                    alert('Your browser does not support Mapbox GL');
                                                } else {
                                                    const map = new mapboxgl.Map({
                                                        container: 'map{{ memory.id }}',
                                                        style: 'mapbox://styles/mapbox/streets-v11',
                                                        center: [{{ memory.point_lng }}, {{ memory.point_lat }}],
                                                        zoom: 15,
                                                        interactive: false
                                                    });
                                                    const popup = new mapboxgl.Popup({ offset: 25 });
                                                    const el = document.createElement('div');
                                                    el.id = 'marker';
                                                    new mapboxgl.Marker(el)
                                                        .setLngLat([{{ memory.point_lng }}, {{ memory.point_lat }}])
                                                        .setPopup(popup)
                                                        .addTo(map);
                                                }
                                            </script>
                                        </div>
                                        <div class="card-name">
                                            <h5>{{ memory.name }}</h5>
                                            <p class="card-text">{{ memory.comment }}</p>
                                        </div>
                                        <input name='{{ memory.id }}' type="submit" value="Delete memory">
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if page_obj.has_next %}
                <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                {% endif %}
                {% if memories|length < 0 %}
                <div class="d-flex justify-content-center" style="display:none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

    <script src="../../static/js/jquery-2.2.4.min.js"></script>
    <script src="../../static/js/jquery.waypoints.min.js"></script>
    <script src="../../static/js/infinite.min.js"></script>
    <script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        handler: function(direction) {
    },
    offset: 'bottom-in-view',
    onBeforePageLoad: function () {
    $('.spinner-border').show();
    },
    onAfterPageLoad: function () {
    $('.spinner-border').hide();
    }
    });
    </script>
    {% else %}
        <p>
            <a href="addmemory/">Create a new memory</a>
        </p>
    {% endif %}
    <a href="logout/">Logout</a>
    {% else %}
<a href="login/vk-oauth2">Sign in with VKontakte</a>
{% endif %}
</body>
</html>